*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

.app{
  display:flex;
  height:100vh; 
}

/* Sidebar */

.sidebar{
  width:30%;
  background:rgb(51, 118, 172);
  color:white;
  padding:20px;
}

.sidebar h2{
  margin-bottom:20px;
}

.sidebar input{
  width:100%;
  padding:10px;
  border:none;
  border-radius:8px;
  margin-bottom:20px;
}

.contact{
  padding:15px;
  background:rgb(43, 82, 119);
  border-radius:8px;
  margin-bottom:10px;
  cursor:pointer;
}

/* Chat Area */

.chat{
  width:70%;
  display:flex;
  flex-direction:column;
  background:#efeae2;
}

.chat-header{
  height:70px;
  background:lightblue;
  color:black;
  display:flex;
  align-items:center;
  padding-left:20px;
}

.messages{
  flex:1;
  padding:10px;
  display:flex;
  flex-direction:column;
}

.message{
  max-width:300px;
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
}

.received{
  background:white;
  align-self:flex-start;
}

.sent{
  background:#6ac8e8;
  align-self:flex-end;
}

.input-area{
  height:45px;
  background:#f0f2f5;
  display:flex;
  align-items:center;
  padding:10px;
}

.input-area input{
  flex:1;
  padding:10px;
  border: none;
  border-radius:8px;
  border-style:groove;
}

.input-area button{
  margin-left:10px;
  padding:10px 20px;
  border-width: thin;
  border-style: groove;
  border-color:rgba(2, 27, 11, 0.229);
  border-radius:8px;
  background:#6ac8e8;
  color:rgb(0, 0, 0);
  cursor:pointer;
}

/* Responsive */

@media (max-width: 768px) {

    .sidebar {
        width: 35%;
    }

    .chat {
        width: 65%;
    }

}

@media (max-width: 600px) {

    .sidebar {
        display: none;
    }

    .chat {
        width: 100%;
    }

}